* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  // background-color: hsl(0, 0%, 21%);
  color: white;
}

body {
  display: flex;
  justify-content: center;
  #root {
    width: 100%;
  }
}

.title {
  font-family: 'Bebas Neue', cursive;
  color: white;
}

.subtitle {
  font-family: 'Bebas Neue', cursive;
  color: white;
}

// Navbar

#nav-styling {
  background-color: hsl(0, 0%, 21%);
  display: flex;
  justify-content: center;
  a {
    color: white;
  }
  a:hover {
    background-color: transparent;
    border-bottom: 3px solid white;
  }
}

// Home page

#home {
  p {
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
  }
}

// bubbles bg

canvas {
  background-color: hsl(0, 0%, 21%);
}


// About page

#about {
  .icon {
    margin: 40px;
    .skills-icon {
      font-size: 4rem;
      color: hsl(0, 0%, 21%);
    }
    .skills-icon:hover {
      color: limegreen;
      transform: scale(1.1);
      transition: all .1s ease
    }
  }
}

// Projects page
 
#projects {
  background-color: hsl(0, 0%, 21%);
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }
  .slide-number-container {
    display: flex;
    justify-content: center;
    margin: 15px 0px 25px 0px;
    .icon:first-child {
      margin-right: 20px;
    }
    .icon:last-child {
      margin-left: 20px;
    }
    .icon:hover {
      cursor: pointer;
    }
    p {
      margin: 0px 10px 0px 10px;
    }
    .slide-number {
      transform: scale(1.2);
      font-weight: bold;
      color: dodgerblue;
      transition: all ease .1s;
    }
  }
  .project-child {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    .sudoku-image-container {
      display: flex;
      // width: 100%;
      img {
        width: 30%;
        border: 0px solid white;
        margin: 0px;
      }
    }
    img {
      border: 3px solid white;
      width: 50%;
      margin-right: 5%;
    }
    .project-child-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .subtitle {
        margin-bottom: 10px;
      }
      .hozline {
        width: 50%;
        border: 1px solid white;
        margin-bottom: 10px;
      }
      .project-child-skill {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: flex-end;
        .skills-icon {
          font-size: 2rem;
          color: white;
        }
        .project-link-container {
          a {
            color: white;
          }
        }
        .project-link-container:after {
          display:block;
          padding: 5px 0px 5px 0px;
          content: '';
          border-bottom: solid 3px yellow;  
          transform: scaleX(0);  
          transition: transform 250ms ease-in-out;
        }
        .project-link-container:hover:after {
          transform: scaleX(1);
        }
        .github-container {
          a {
            color: white;
          }
        }
        .github-container:after {
          display:block;
          padding: 5px 0px 5px 0px;
          content: '';
          border-bottom: solid 3px yellow;  
          transform: scaleX(0);  
          transition: transform 250ms ease-in-out;
        }
        .github-container:hover:after { 
          transform: scaleX(1);
        }
      }
    }
  }
}

#contact {
  a {
    color: hsl(0, 0%, 21%);
    width: 100%;
  }
  a:after {
    display: block;
    padding: 5px 0px 5px 0px;
    content: '';
    border-bottom: solid 3px hsl(0, 0%, 21%); 
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  a:hover:after {
    transform: scaleX(1);
  }
}

@keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
  }

@-webkit-keyframes aitf {
0% { background-position: 0% 50%; }
100% { background-position: 100% 50%; }
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@keyframes fadeInLeft {
  from {
      transform: translate3d(-30px,0,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    transform: translate3d(-30px,0,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

// MOBILE DEVICES

@media only screen and (max-width: 768px) {

  #root {
    width: 100%;
  }

  #about {
    .icon {
      margin: 20px;
    }
  }

  #projects {
    .project-child {
      flex-direction: column-reverse;
      .sudoku-image-container {
        flex-wrap: wrap;
      }
      img {
        border: 3px solid white;
        width: 100%;
      }
    }
  }
}