* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #0a0a0a;
  color: white;
}

.title {
  font-family: 'Bebas Neue', cursive;
  color: white;
}

.subtitle {
  font-family: 'Bebas Neue', cursive;
  color: white;
}

// Navbar

#nav-styling {
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  a {
    color: white;
  }
  a:hover {
    border-bottom: 3px solid white;
  }
}

// About page

#about {
  .icon {
    margin: 5px;
    .skills-icon {
      font-size: 3rem;
      color: white;
    }
    .skills-icon:hover {
      color: yellow;
      transform: scale(1.1);
      transition: all .1s ease
    }
  }
}

@keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
  }

@-webkit-keyframes aitf {
0% { background-position: 0% 50%; }
100% { background-position: 100% 50%; }
}

@media only screen and (max-width: 768px) {
  #nav-styling {
    display: none;
  }
}